.content-title1 {
  position: relative;
  height: 27px;
}

.content-title1-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-title {
  color: red;

}

p {
  color: blue; /* цвет текста */
  background-color: aqua; /*задает цвет фону*/
  font-style: italic;/*стиль шрифта */
  text-decoration: underline;/*задает внешний вид декоративных линий*/
  }

h1 {
  color: brown;
  font-weight: 300;
}

h2 {
  color: blueviolet;
  font-weight: 100;

}